doctype
html
	head
		title helo
	body
		p First Paragraph
		p Second paragraph


		p 
			| Third Paragraph
			| forth paragraph

			| fifth para
		h2 Element supoport  for h2

		div#elements Apart from paragraht it supports containers. 

		#other_elements 
			| in fact we dont even need to use the div prefex. 

			| Even thigs like lists, el al. 
			ul
				li First elements
				li second elements
				li Third element. 

			p 
			p 
			a(href='http://google.com') Links also used 