doctype
html
	head
		title Edit a customer
		link(rel= 'stylesheet', href='/stylesheets/style.css')
	body
		h3 Customer Details
		form(id='form', method='post', action='/customer/create')
			label(for='Name') Name
			input(type='text', id='name', name='name', value='#{customer.name}')
			
			label(for='email') Email
			input(type='email', id='Email', name= 'email' ,value='#{customer.email}')

			label(for='tel') Telephone
			input(type='tel', id='telephone', name= 'telephone',value='#{customer.telephone}')
			
			input(type='submit', value=' Update Customer')
